<%- include('templates/header.ejs') %>
    <div class="titulo">
        <div class="tituloIzquierda">
            <h1>Gestión de Usuarios</h1>
            <h2>Administrar Roles y permisos de los usuarios</h2>
        </div>
        <div class="tituloDerecha">
            <button id="nuevoUsuario">+ Nuevo Usuario</button>
        </div>
    </div>
    <div class="crearUsuario ocultar" id="crearUsuario">
        <div class="titulo" id="tituloCrearUsuarios">
            <div class="tituloIzquierda">
                <h2 id="tituloCrearUsuario">Agregar nuevo usuario</h2>
            </div>
            <div class="tituloDerecha">
                <button id="cancelar">Cancelar</button>
                <button id="guardar">Guardar</button>
            </div>
        </div>
        <form action="" method="post" id="formCrearUsuario">
            <div class="nombre-correo">
                <div class="nombre">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
                </div>
                <div class="apellidos">
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" id="apellidos" name="apellidos" placeholder="Ingrese sus apellidos" required>
                </div>
                <div class="correo">
                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" name="correo" placeholder="Ingrese su correo" required>
                </div>
            </div>
            <div class="rol-carrera-cuatrimestre">
                <div class="rol">
                    <label for="rol">Rol:</label>
                    <select name="rol" id="rol">
                        <option value="asesorado">Asesorado</option>
                        <option value="asesor">Asesor</option>
                        <option value="admin">Administrador</option>
                    </select>
                </div>
                <div class="carrera">
                    <label for="carrera">Carrera:</label>
                    <select name="carrera" id="carrera">
                        <option value="QF">Ing. Química Farmacéutica</option>
                        <option value="DS">Ing. en Energía y Desarrollo Sostenible (TSU. Energía Turbo Solar)</option>
                        <option value="QI">Ing. Química (TSU. Química Industrial)</option>
                        <option value="CQ">ING. Civil (TSU. Construcción)</option>
                        <option value="MA">ING. Mecatrónica (TSU. Automatización)</option>
                        <option value="MR">ING. Mecatrónica (TSU. Robótica)</option>
                        <option value="TDSM">ING. Tecnologías De La Información e Innovación digital (TSU. ETn
                            Desarrollo de Software Multiplataforma)</option>
                        <option value="EVND">ING. Tecnologías De La Información e Innovación digital (TSU. En Entornos
                            Virtuales y Negocios Digitales)</option>
                        <option value="TIA">ING. Tecnologías De La Información e Innovación digital (TSU. Inteligencia
                            Artificial)</option>
                        <option value="TCD">ING. Tecnologías De La Información e Innovación digital (TSU. Ciencia de
                            Datos)
                        </option>
                        <option value="MI">ING. Mantenimiento Industrial</option>
                        <option value="IA">ING. Industrial (TSU. Automotriz)</option>
                        <option value="IPP">ING. Industrial (TSU. Procesos Productivos)</option>
                        <option value="ISGC">ING. Industrial (TSU Sistema de Gestión de Calidad)</option>
                        <option value="NMM">LIC. Negocios y Mercadotecnia (TSU. Mercadotecnia)</option>
                    </select>
                </div>
                <div class="cuatrimestre">
                    <label for="cuatrimestre">Cuatrimestre:</label>
                    <select name="cuatrimestre" id="cuatrimestre">
                        <option value="1">1° Cuatrimestre</option>
                        <option value="2">2° Cuatrimestre</option>
                        <option value="3">3° Cuatrimestre</option>
                        <option value="4">4° Cuatrimestre</option>
                        <option value="5">5° Cuatrimestre</option>
                        <option value="6">6° Cuatrimestre</option>
                        <option value="7">7° Cuatrimestre</option>
                        <option value="8">8° Cuatrimestre</option>
                        <option value="9">9° Cuatrimestre</option>
                        <option value="10">10° Cuatrimestre</option>
                        <option value="11">11° Cuatrimestre</option>
                    </select>
                </div>
                <input type="hidden" name="contraseña" id="contraseña" value="default">
            </div>
        </form>
    </div>
    <div class="busqueda_filtro">
        <input type="search" placeholder="Buscar" class="busqueda">
        <select name="" id="" class="filtro">
            <option value="todos">Todos</option>
            <option value="asesor">Asesor</option>
            <option value="asesorado">Asesorado</option>
            <option value="admin">Administrador</option>
        </select>
    </div>
    <div class="usuarios">
        <% contador=0; usuarios.forEach(usuario=> { %>
            <div class=<% if((contador % 2)==0){%> "usuarioIzquierda" <%}else{%> "usuarioDerecha" <%}%>>
                        <div class="imagen-categoria">
                            <div <% if(usuario.categoria=="asesor" ) {%> class=" contIMG asesor" <%}else
                                    if(usuario.categoria=="asesorado" ) {%> class="contIMG asesorado" <%}else{%>
                                        class="contIMG administrador" <%}%>>
                                            <img src="../images/usuario.png" alt="">
                            </div>
                            <div <% if(usuario.categoria=="asesor" ) {%> class="categoria Casesor" <%}else
                                    if(usuario.categoria=="asesorado" ) {%> class="categoria Casesorado" <%}else{%>
                                        class="categoria Cadministrador" <%}%>>
                                            <p>
                                                <% if(usuario.categoria=="admin" ){%> Administrador <%}else{%>
                                                        <%= usuario.categoria.charAt(0).toUpperCase() +
                                                            usuario.categoria.slice(1) %>
                                                            <%}%>
                                            </p>
                            </div>
                        </div>
                        <div class="usuarioInfo">
                            <h2>
                                <%= usuario.nombres + " " + usuario.apellidos %>
                            </h2>
                            <p>
                                <%= usuario.correo %>
                            </p>
                            <% if(usuario.categoria !="admin" ){%>
                                <p class="info">
                                    <%= usuario.cuatrimestre + "° Cuatrimestre -  Plantel: " + usuario.plantel %>
                                </p>
                                <%}%>
                        </div>
                        <div class="acciones" id="<%= usuario.id_usuario %>">
                            <button class="btnEditar"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="btnEliminar"><i class="fa-solid fa-trash"></i></button>
                        </div>
            </div>
            <% contador++;if((contador%2)==0){%>
    </div>
    <div class="usuarios">
        <% } }) %>
    </div>
    <div class="editarUsuario ocultar" id="editarUsuario">
        <div class="interno">
            <div class="titulo" id="tituloEditarUsuarios">
                <div class="tituloIzquierda">
                    <h2 id="tituloEditarUsuario">Editar usuario</h2>
                </div>
                <div class="tituloDerecha">
                    <button id="cancelarEditar">Cancelar</button>
                    <button id="guardarEditar">Guardar</button>
                </div>
            </div>
            <form action="" method="post" id="formEditarUsuario">
                <input type="hidden" name="id_usuario" id="id_usuario">
                <div class="nombre-correo">
                    <div class="nombre">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" placeholder="Ingrese su nombre" required disabled>
                    </div>
                    <div class="apellidos">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name="apellidos" placeholder="Ingrese sus apellidos" required disabled>
                    </div>
                    <div class="correo">
                        <label for="correo">Correo:</label>
                        <input type="email" name="correo" placeholder="Ingrese su correo" required disabled>
                    </div>
                </div>
                <div class="rol-carrera-cuatrimestre">
                    <div class="rol">
                        <label for="rol">Rol:</label>
                        <select name="rol">
                            <option value="asesorado">Asesorado</option>
                            <option value="asesor">Asesor</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>
                    <div class="carrera">
                        <label for="carrera">Carrera:</label>
                        <select name="carrera">
                            <option value="QF">Ing. Química Farmacéutica</option>
                            <option value="DS">Ing. en Energía y Desarrollo Sostenible (TSU. Energía Turbo Solar)
                            </option>
                            <option value="QI">Ing. Química (TSU. Química Industrial)</option>
                            <option value="CQ">ING. Civil (TSU. Construcción)</option>
                            <option value="MA">ING. Mecatrónica (TSU. Automatización)</option>
                            <option value="MR">ING. Mecatrónica (TSU. Robótica)</option>
                            <option value="TDSM">ING. Tecnologías De La Información e Innovación digital (TSU. ETn
                                Desarrollo de Software Multiplataforma)</option>
                            <option value="EVND">ING. Tecnologías De La Información e Innovación digital (TSU. En
                                Entornos
                                Virtuales y Negocios Digitales)</option>
                            <option value="TIA">ING. Tecnologías De La Información e Innovación digital (TSU.
                                Inteligencia
                                Artificial)</option>
                            <option value="TCD">ING. Tecnologías De La Información e Innovación digital (TSU. Ciencia de
                                Datos)
                            </option>
                            <option value="MI">ING. Mantenimiento Industrial</option>
                            <option value="IA">ING. Industrial (TSU. Automotriz)</option>
                            <option value="IPP">ING. Industrial (TSU. Procesos Productivos)</option>
                            <option value="ISGC">ING. Industrial (TSU Sistema de Gestión de Calidad)</option>
                            <option value="NMM">LIC. Negocios y Mercadotecnia (TSU. Mercadotecnia)</option>
                        </select>
                    </div>
                    <div class="cuatrimestre">
                        <label for="cuatrimestre">Cuatrimestre:</label>
                        <select name="cuatrimestre">
                            <option value="1">1° Cuatrimestre</option>
                            <option value="2">2° Cuatrimestre</option>
                            <option value="3">3° Cuatrimestre</option>
                            <option value="4">4° Cuatrimestre</option>
                            <option value="5">5° Cuatrimestre</option>
                            <option value="6">6° Cuatrimestre</option>
                            <option value="7">7° Cuatrimestre</option>
                            <option value="8">8° Cuatrimestre</option>
                            <option value="9">9° Cuatrimestre</option>
                            <option value="10">10° Cuatrimestre</option>
                            <option value="11">11° Cuatrimestre</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>

        const btnsEliminar = document.querySelectorAll(".btnEliminar"),
            btnsEditar = document.querySelectorAll(".btnEditar"),
            btnCancelarEditar = document.querySelector("#cancelarEditar"),
            btnGuardarEditar = document.querySelector("#guardarEditar"),
            editUsuario = document.querySelector("#editarUsuario");

        const form = document.querySelector("#formEditarUsuario");
        const inputBusqueda = document.querySelector(".busqueda");
        const selectFiltro = document.querySelector(".filtro");
        const usuariosItems = document.querySelectorAll(".usuarioIzquierda, .usuarioDerecha");

        var catACT = "";

        const filtrarUsuarios = () => {
            const textoBusqueda = inputBusqueda.value.toLowerCase();
            const categoriaSeleccionada = selectFiltro.value.toLowerCase();

            usuariosItems.forEach(usuario => {
                const nombre = usuario.querySelector(".usuarioInfo h2").textContent.toLowerCase();
                const correo = usuario.querySelector(".usuarioInfo p").textContent.toLowerCase();

                const categoriaElement = usuario.querySelector(".categoria p");
                const categoriaUsuario = categoriaElement ? categoriaElement.textContent.trim().toLowerCase() : "";

                const coincideTexto = nombre.includes(textoBusqueda) || correo.includes(textoBusqueda);
                const coincideCategoria = categoriaSeleccionada === "todos" || categoriaUsuario === categoriaSeleccionada;

                if (coincideTexto && coincideCategoria) {
                    usuario.style.display = "flex";
                } else {
                    usuario.style.display = "none";
                }
            });
        };

        inputBusqueda.addEventListener("keyup", filtrarUsuarios);
        selectFiltro.addEventListener("change", filtrarUsuarios);

        var id_User = 0;

        btnsEditar.forEach(btn => {
            btn.addEventListener("click", async () => {
                const idUsuario = btn.parentElement.id;
                id_User = idUsuario;
                await recuperarUsuario(idUsuario);
                editUsuario.classList.remove("ocultar");
            });
        });
        btnCancelarEditar.addEventListener("click", () => {
            editUsuario.classList.add("ocultar");
        });
        btnGuardarEditar.addEventListener("click", async () => {
            const idUsuario = id_User;
            await editarUsuario(idUsuario);
            editUsuario.classList.add("ocultar");
            window.location.reload();
        });

        btnsEliminar.forEach(btn => {
            btn.addEventListener("click", () => {
                const idUsuario = btn.parentElement.id;
                console.log(idUsuario);
            });
        });
        const eliminarUsuario = async (idUsuario) => {
            const respuesta = await fetch("http://localhost:8000/usuarios/eliminarUsuario", {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ id_usuario: idUsuario })
            });
            const data = await respuesta.json();
            console.log(data);
        }


        const editarUsuario = async (idUsuario) => {
            const cuatrimestre = parseInt(form.querySelector('select[name="cuatrimestre"]').value);
            const respuesta = await fetch("http://localhost:8000/usuarios/actualizarUsuario/" + idUsuario, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ nombres: null, apellidos: null, contraseña: null, categoria: form.querySelector('select[name="rol"]').value, cuatrimestre: cuatrimestre, plantel: null })
            });
            const data = await respuesta.json();
            console.log(data);
            const catSel = form.querySelector('select[name="rol"]').value;
            const carrera = form.querySelector('select[name="carrera"]').value
            if (catSel != catACT) {
                if (catSel == "admin") {
                    const eliminarAlumno = await fetch("http://localhost:8000/alumnos/eliminarAlumnoForaneo/" + idUsuario, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    const elAlum = await eliminarAlumno.json();
                    const eliminarAsesor = await fetch("http://localhost:8000/asesores/eliminarAsesorForaneo/" + idUsuario, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    const elAse = await eliminarAsesor.json();
                } else if (catSel == "asesor") {
                    const eliminarAlumno = await fetch("http://localhost:8000/alumnos/eliminarAlumnoForaneo/" + idUsuario, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    const elAlum = await eliminarAlumno.json();
                    var disponible = true, categoriaAS = "alumno", contacto = "0000000000";
                    const subirAsesor = await fetch("http://127.0.0.1:8000/asesores/crearAsesor", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ id_usuario2: parseInt(idUsuario), carrera, disponible, categoria: categoriaAS, contacto })
                    })
                    user = await subirAsesor.json();
                } else if (catSel == "asesorado") {
                    const eliminarAlumno = await fetch("http://localhost:8000/alumnos/eliminarAlumnoForaneo/" + idUsuario, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    const elAlum = await eliminarAlumno.json();
                    const subirAsesorado = await fetch("http://localhost:8000/alumnos", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ id_usuario1: parseInt(idUsuario), carrera })
                    })
                    const user = await subirAsesorado.json();
                }
            }
        }

        const recuperarUsuario = async (idUsuario) => {
            const respuesta = await fetch("http://localhost:8000/usuarios/buscarUsuarioID/" + idUsuario, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            const data = await respuesta.json();
            const usuario = data.item;
            form.querySelector('input[name="id_usuario"]').value = idUsuario;
            form.querySelector('input[name="nombre"]').value = usuario.nombres;
            form.querySelector('input[name="apellidos"]').value = usuario.apellidos;
            form.querySelector('input[name="correo"]').value = usuario.correo;
            form.querySelector('select[name="rol"]').value = usuario.categoria;
            form.querySelector('select[name="cuatrimestre"]').value = usuario.cuatrimestre;
            catACT = usuario.categoria;
        }

        const nuevoUsuario = document.getElementById("nuevoUsuario");
        const crearUsuario = document.getElementById("crearUsuario");
        const cancelar = document.getElementById("cancelar");
        const guardar = document.getElementById("guardar");
        const formCrearUsuario = document.getElementById("formCrearUsuario");

        nuevoUsuario.addEventListener("click", () => {
            crearUsuario.classList.remove("ocultar");
        });

        cancelar.addEventListener("click", () => {
            crearUsuario.classList.add("ocultar");
            formCrearUsuario.reset();
        });

        guardar.addEventListener("click", () => {
            crearUsuario.classList.add("ocultar");
            const data = new FormData(formCrearUsuario);
            console.log(data.get("nombre"));
            formCrearUsuario.submit();
        });
    </script>
    <%- include('templates/footer.ejs') %>